<ion-header>
  <app-modal-header>
    <p title>Nový záznam</p>
    <ion-button
      fill="flat"
      expand="block"
      [disabled]="buttonDisabled$ | async"
      size="small"
      (click)="addEditUser()"
      saveButton
    >
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
  </app-modal-header>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <form [formGroup]="form">
    <formly-form
      [form]="form"
      [fields]="fields$ | async"
      [model]="formModel$ | async"
      (modelChange)="formChanged()"
    ></formly-form>
  </form>
</ion-content>
