{
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 4,
  "trailingComma": "all",
  "semi": true,
  "importOrder": ["^@(.*)$/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
