<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110344991028-s6jflhsehub4mnea6lfihp0o8smf7k6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110344991028-s6jflhsehub4mnea6lfihp0o8smf7k6n</string>
	<key>API_KEY</key>
	<string>AIzaSyAMjjmRiALt2l5GGaYcC5embQdei7P8Y-s</string>
	<key>GCM_SENDER_ID</key>
	<string>110344991028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.fogll.denik</string>
	<key>PROJECT_ID</key>
	<string>stavebni-denik-test</string>
	<key>STORAGE_BUCKET</key>
	<string>stavebni-denik-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110344991028:ios:1ea460c8fa8189b1abb561</string>
</dict>
</plist>