<ion-item detail>
  <ion-label>
    <ion-grid>
      <ion-row>
        <ion-datetime
          class="ion-no-padding ion-margin-end"
          displayFormat="DD. MM. YYYY"
          [value]="item.date"
          disabled="true">
        </ion-datetime>
        <!-- <ion-datetime
          class="ion-no-padding ion-margin-end"
          displayFormat="HH:mm"
          [value]="item.from"
          disabled="true">
        </ion-datetime>
        <ion-datetime
          class="ion-no-padding ion-margin-end"
          displayFormat="HH:mm"
          [value]="item.to"
          disabled="true">
        </ion-datetime> -->
      </ion-row>
    </ion-grid>
    <!-- <div class="ion-text-nowrap text-ellipsis">
      {{ item.note }}
    </div> -->
  </ion-label>
</ion-item>
