<!-- <ion-label><h1>Docházka</h1></ion-label> -->
<ion-list>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
  <app-atendence-list-item></app-atendence-list-item>
</ion-list>
