<ion-item>
  <ion-label position="fixed">
    <h2>Datum:</h2>
    <h3>Příchod:</h3>
    <h3>Odchod:</h3>
  </ion-label>
  <ion-label>
    <h2>
      <ion-datetime
        displayFormat="DD. MM. YYYY"
        value="2012-12-15T13:47:20.789"
        class="ion-no-padding"
      ></ion-datetime>
    </h2>
    <h3>
      <ion-datetime
        displayFormat="HH:mm"
        value="2012-12-15T13:47:20.789"
        class="ion-no-padding"
      ></ion-datetime>
    </h3>
    <h3>
      <ion-datetime
        displayFormat="HH:mm"
        value="2012-12-15T13:47:20.789"
        class="ion-no-padding"
      ></ion-datetime>
    </h3>
  </ion-label>
  <ion-buttons>
    <ion-button>
      <ion-icon color="success" slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon color="danger" slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>